
.main_login{
  display: flex;
  height: 100vh;
}


.banner_login{
  background-image: url(../../assets/img/bannerlogin.png) ;
  flex: 1;
  background-color: #B51D44;
  background-position: center;

  background-repeat: no-repeat;
}


.section_login{
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.formulario_login{
  color: white;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.formulario_login a{
  text-decoration: none;
  color: #a6a0a0
}

.campos_login{
  width: 100%;
  margin-top: 50px;
}


.campo_input{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.campo_input input{
  height: 30px;
  padding: 0px 10px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 7px;

}



@media screen and (max-width: 768px){

  .banner_login{
      display: none;
  }
}

