.listagem {
    min-height: calc(100vh - (76px + 241px + 33px));

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;    

    background-color: #B51D44;
    color: white;

}

.listagem h1 {
    text-transform: uppercase;
    color: white;
}

.listagem hr {
    max-width: 300px;
    width: 100%;
    border-style: solid;
    border-top-width: 1px;
    border-color: white;
    margin-top: 5px;
    color: white;
}


.item_lista img {
    height: 20px;
}

.tabela {
    margin-top: 30px;
}

.tabela .table_cabecalho :first-child {
    width: 300px;
}

.tabela .table_cabecalho :nth-child(2) {
    width: 760px;
    text-align: start;
}

.tabela .table_cabecalho th {
    height: 35px;
    width: 100px;
    border-bottom: 1px solid white;
}

.item_lista td {
    padding: 20px 5px 0;
    height: 80px;
    width: 100px;
    border-bottom: 1px solid white;
}

.item_lista {
    text-align: center;
    border-bottom: 1px solid white;
}

.tabela .item_lista :nth-child(2){
    text-align: start;
}

@media screen and (max-width:728px) {
    .tabela{
        font-size: 10px; 
    }
    .tabela .item_lista :nth-child(3){
        width: 110px;
    }
    .listagem h1 {
        font-size: large;
    }
    
}



